:root {
    --nav-link: #212121;
}
a:link, a:visited, a:active, a:hover {
    text-decoration: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "roboto", sans-serif;
}

.header,
footer,
section {
    width: 100%;
    max-width: 100%;
}
/* Logo and Header */

.header-navigation {
    display: flex;
    width: 75%;
    justify-content: space-between;
    padding: 20px;
}
.main-nav ul {
    overflow: hidden;
    display: flex;
    width: 100%;
    list-style-type: none;
    justify-content: space-between;
}
.nav-contact {
    display: flex;
    width: 25%;
    justify-content: space-between;
    align-items: center;
}
.nav-link {
    color: var(--nav-link);
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.41px;
}

.current {
    color: #2196F3;
}

.nav-link:hover, .nav-link:focus {
    color: #2196f3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-top {
    font-family: Raleway;
    font-size: 26px;
    padding-left: 215px;
    padding-top: 24px;
}
.web {
    color:#2196f3;
    border: none;
}
.studio {
    color: var(--nav-link);
    border: none;
}

.info-link {
    color:#757575;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.41px;
}
.info-link:hover, .info-link:hover {
    color: #2196f3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-bottom {
    color: #fff;
    border: none;
}

.global-header {
    background-color: #FFFFFF;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #ECECEC;
}

ul {
    list-style-type: none;
}

body {
    font-family: "Roboto", "Raleway", sans-serif;
    background-color: #ffffff;
    width: 100%;
    color: #000000;
}

.email {
    width: 16px;
    height: 12px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 4px;
}

.phone {
    width: 10px;
    height: 16px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 4px;
    
}

.nav-contact a:focus,
.nav-contact a:hover {
    color: #2196F3;
    fill: #2196F3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.top-section {
    background-color: #2f303a;
    color: #fff;
    width: 100%;
    height: 600px;
    text-align: center;
}

.top-section-container {
    display: block;
    padding-top: 5%;
}

#title {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    justify-content: center;
}

.top-section {
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/background-image.jpg");
    background-position: center;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    text-align: center;
  }

.button {
    font-family: Roboto;
    color:#ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    font-family: inherit;
    padding: 10px 20px;
    letter-spacing: 6%;
    border-radius: 4px;
    border: 0px;
    background: #2196f3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 200px;
    height: 50px;
    border: #2196f3;
    flex-shrink: 0;
    text-align: center;
    cursor: pointer;
}

.button:hover, .button:focus {
    background: #188CE8;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-service {
    display: flex;
    justify-content: center;
}
/* Middle Section */
.middle-section {
    padding-top: 94px;
    display: flex;
    justify-content: center;
}
.middle-section ul {
    display: inline-block;
    background-color: #ffffff;
    width: 1200px;
    top: 80px;
    align-items: center;
    justify-content: center;
    margin-left: 215px;
    margin-right: 215px;
}

.column-middle-section {
    float: left;
    width: 270px;
    margin: 10px;
}

.middle-section ul li h3 {
    font-size: 14px;
    line-height: 16.41px;
    text-transform: capitalize;
}
.middle-section ul li p {
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.middle-section-icon {
    display: block;
    margin: auto;
    width: 70px;
    height: 70px;
    padding: 25px 100px;
}

.about-us-icons {
    width: 100%;
    border-radius: 4px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
  }
  
    
/* What we do section*/
.what-we-do-section {
    width: 75%;
    padding-top: 94px;
    top: 969px;
    margin-left: 215px;
    margin-right: 215px;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: inline-block;
}

.whatwedo img {
    width: 370px;
    height: 294px;
    top: 1061px;
    margin: 0px 0px 50px 17px;
    padding-top: 50px;
    padding-bottom: 94px;
}

.what-we-do-section h2 {
    font-size: 36px;
    line-height: 42.19px;
    text-align: center;
}

/* Our team Section */
.team-card {
    background-color: #ffffff;
    width: 270px;
    height: 428px;
    top: 1635px;
    margin: 5px 15px 0px;
    justify-content: space-between;
    display: inline-block;
    gap: 30px;
}


.our-team-section {
    background: #F5F4FA;
    width: 100%;
    padding-top: 94px;
    padding-bottom: 94px;
}

.our-team-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.our-team-section h2 {
    font-size: 36px;
    line-height: 42.19px;
    text-align: center;
}
.our-team-section ul li h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
    text-align: center;
}

.our-team-section ul li p {
    font-weight: 400;
    color: #757575;
    font-size: 16px;
    line-height: 18.75px;
    text-align: center;
}

.team-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.social-find .social-link {
    fill: #AFB1B8;
    background-color: rgba(255, 255,255, 0.1);
    display: inline-flex;
    flex-direction: row;
    border-radius: 50px;
    width: 44px;
    height: 44px;
}

/* Team Social Icons */


.social-link-team {
    align-items: center;
    justify-content: center;
    fill: #afb1b8;
    width: 20px;
    height: 20px;
    padding: 12px;
}


.social-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.social-item svg:hover {
    fill: #FFF;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.social-item {
    display: inline-block;
    align-items: center;
    justify-content: center; 
}

.social-item:hover {
    background-color: #2196F3;
    border-radius: 50px;
    fill: #FFF;
    gap: 10px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.team-card-social {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 5px;
}

.team-card-social:hover {
    background-color: #2196F3;
    fill:#FFF;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/* Regular Customers */

.regular-customers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.regular-container h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align:center;
    color: #212121;
    padding-top: 94px;
  }
  
.regular-customers {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 94px;
}

.regular-customers-icon {
    fill: #AFB1B8;
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px;
    display: flex;
    justify-content: center;
    padding: 16px 32px;
}
  
.regular-customers-buttons {
    border: 1px solid #AFB1B8;
    margin-left: 30px;
}

.navcontact a:focus,
.navcontact a:hover,
.regular-customers-icon:hover {
    color: #2196F3;
    fill: #2196F3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers-buttons:hover {
    border: 1px solid rgba(33, 150, 243, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Footer */
footer {
    background-color: #2F303A;
    height: 251px;
    padding-top: 60px;
}
.container-logo-address address a {
    text-decoration: none;
    display: inline-flex;
    color: #757575;
    font-weight: 400;
    margin-right: 10px;
    padding: 10px 0px;
}
  
.container-logo-address address a:focus,
.container-logo-address address a:hover {
    color: #2196F3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-logo-address {
    display: inline-block;
    padding-left: 215px;
}

.footer-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.footer-logo {
    font-family: Roboto;
    font-size: 26px;
    font-weight: 700;
    width: 145px;
    height: 31px;
    line-height: 30.52px;
    padding: 1px;
    font-size: 24px;
    text-decoration: none;
}

.footer-address-color {
    color: #FFF;
}
.footer-address {
    font-family: "Roboto";
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
}

.footer-address a {
    font-style: normal;
}

.footer-address P {
    font-style: normal;
}

.logo-text-footer a {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    width: 145px;
    height: 31px;
    line-height: 30.52px;
    padding: 1px;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}
.social-link svg {
    width: 20px;
    height: 20px;
    padding-top: 12px;
    padding-left: 12px;
}

.social-find {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 206px;
    padding-left: 156px;
    padding-bottom: 20px;
  }
.social-buttons a {
    background-color: rgba(255, 255,255, 0.1);
    display: flex;
    border-radius: 50px;
    width: 44px;
    height: 44px;
}


.social-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding-top: 20px;
}

.social-link:hover {
    background-color: #2196F3;
    fill: #FFF;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-find h4 {
    color: #FFF;    
}

/* Modal */
.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition-duration: 510ms;
    transition-timing-function: ease-in-out;
    transform: scale(1);
    z-index: 1;
}
  
.modal-content {
    background-color: #FFFFFF;
    opacity: 1;
    padding: 2px;
    width: 528px;
    height: 581px;
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
  
.is-hidden {
    visibility: hidden;
    pointer-events: fill;
    opacity: 0;
    scale: calc(2);
}

.close-button {
    fill: #000;
    opacity: 1;
    box-sizing: content-box;
    cursor: pointer;
    position: absolute;
    width: 18px;
    height: 18px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 6px;
    top: 8px;
    right: 8px;
}
/* PORTOFOLIO */
.portofolio-container {
    justify-content: center;
    display: flex;
    flex-shrink: initial;
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
}

.portofolio-container ul {
    font-family: "roboto", sans-serif;
    font-size: 16px;
    width: 100%;
    padding-top: 94px;
}

.projects-menu {
    width: 100px;
}

.projects-button {
    width: 100px;
    height: 38px;
    top: 174px;
    left: 542px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 8px;
    
}

.projects-button .button-port {
    background-color: #f5f4fa;
    border: none;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.03em;
    font-size: 16px;
    cursor: pointer;
    text-transform: none;
    display: flex;
    width: 120px;
    justify-content: center;
    border-radius: 4px;
    gap: 8px;
}
.projects-menu .projects-button:hover, 
.projects-menu .projects-button:focus {
    color: #2196F3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-menu .projects-button:link,
.projects-menu .projects-button:visited {
    color: #2196f3;
}

li .button:focus,
li .button:hover {
    background-color: #2196f3;
    color: #fff;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

li .button-port:focus,
li .button-port:hover {
        background-color: #2196f3;
        color: #fff;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
        box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
    }

.projects-button:active, .currentweb:focus {
    color: #2196f3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    max-width: 1200px;
    margin: 0;
    padding-bottom: 94px;
}

.projects-image {
    list-style-type: none;
    height: 404px;
    justify-content: center;
    display: block;
    max-width: 370px;
    flex-basis: calc((100% - 90px) / 3);
    border: 1px solid rgba(238, 238, 238, 1);
    cursor: pointer;
}

.projects-image div {
    display: flex;
    flex-direction: column;
}

.projects-image img {
    width: 370px;
    height: 294px;
    top: 262px;
    left: 215px;
    vertical-align: middle;
}

.projects-image div h3 {
    color: var(--nav-link);
    font-family: "roboto", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    margin: 20px 24px;
    margin-bottom: 4px;
    text-align: left;
}

.projects-image div p {
    font-family: "roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #757575;
    margin-top: 0;
    margin: 20px 24px;
    
}

.projects-image:hover {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-image .image-container {
    position: relative;
    overflow: hidden;
}

.blueoverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translatey(100%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #fff;;
}



.image-container:hover .blueoverlay {
    color: #FFFFFF;
    transform: translatey(0);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

div .blueoverlay p {
    color: white;
}
